/* This is just an example.  You shouldn't do this. */
#ppmbuddy-hello
{
}

#ppmbuddy-toolbar-button
{
  list-style-image: url("chrome://ppmbuddy/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#ppmbuddy-toolbar-button {
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}

#ppmbuddy-toolbar-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
}

#ppmbuddy-toolbar-button[disabled="true"] {
  -moz-image-region: rect(48px, 24px, 72px, 0px);
}

#ppmbuddy-toolbar-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px, 24px, 96px, 0px);
}




/*

#ppmbuddy-toolbar-button
{
  list-style-image: url("chrome://ppmbuddy/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#ppmbuddy-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #ppmbuddy-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #ppmbuddy-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
*/